django
djangorestframework
djangorestframework-simplejwt
django-cors-headers
Pillow
dj-database-url
psycopg2-binary
weasyprint
boto3
django-storages
gunicorn
whitenoise
django-storages==1.14.2
boto3==1.34.0